@use '../../../../variables' as *;

::ng-deep {
    .item,
    .valores {
        padding: 5px 10px 5px 15px;
        position: relative;
    }

    .item {
        @include border(border-left);
        cursor: pointer;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            mat-icon:not(.detalhar, .update, .drag) {
                animation: bounce 0.3s ease 1;
            }

            .detalhar,
            .update:hover {
                background-color: #ffffff50;
            }

            .drag {
                display: block !important;
            }
        }

        .detalhar {
            float: right;
            background: none;
            border-radius: 50%;
            padding: 2px;
            width: 25px !important;
            transition: all 0.2s;
        }

        mat-icon {
            width: 1em !important;
            height: 100% !important;
            align-items: center;

            &:not(.drag) {
                margin-right: 5px;
            }
        }

        .drag {
            display: none !important;
            width: 15px !important;
            position: absolute;
            left: 0;
            top: 7px;
            cursor: grab;
        }
    }

    .valores {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        @include border(border-right);
        
        input, button {
            width: auto;
            max-height: 30px;
            margin-left: 1px;
            background-color: $dark;
            color: #fff;
        }

        input {
            width: 100% !important;

            &[readonly].ng-dirty {
                color: darkkhaki;
                font-style: italic;
            }
            
            &:not([readonly]).ng-dirty.ng-valid{
                background-color: $darkGreen;
            }
            
            &.ng-invalid{
                background-color: $darkRed;
            }
        }

        button {
            &[disabled] {
                background-color: $darker;
            }
        }
    }
}