<div class="calendario" style="display:none;">
    <span class="cal-close">x</span>
    <span class="month-item">jan</span>
    <span class="month-item">fev</span>
    <span class="month-item">mar</span>
    <span class="month-item">abr</span>
    <span class="month-item">mai</span>
    <span class="month-item">jun</span>
    <span class="month-item">jul</span>
    <span class="month-item">ago</span>
    <span class="month-item">set</span>
    <span class="month-item">out</span>
    <span class="month-item">nov</span>
    <span class="month-item">dez</span>
</div>