<div class="sub-wrapper">
    <span class="sub-title">
        <mat-icon>{{iconeTipo?.link ?? iconePadrao}}</mat-icon>
        {{nomeTipo}}
    </span>
</div>
<app-categoria [form]="form" *ngFor="let categoria of categorias" [categoriaNome]="categoria.nome" [iconeCategoria]="categoria.icone"
(alterou)="alterou.emit($event)" (alterou)="calculaTotais()" (updateEvento)="updateEvento.emit($event)" (transacoesOk)="calculaTotais()" 
(transacoesOk)="transacoesOk.emit($event)">
</app-categoria>
<div class="content create">
    <button alt="Criar" tabindex="-1"><mat-icon>add</mat-icon></button>
</div>
<div class="content {{nomeTipoClasse}}" [formGroup]="form">
    <span class="item parcial">
        <mat-icon [attr.alt]="nomeTipo">payments</mat-icon>
        Total de {{nomeTipo}}
    </span>
    <span class="valores parcial">
        <input type="text" name="total-{{nomeTipoClasse}}" formControlName="total-{{nomeTipoClasse}}" tabindex="-1" readonly>
    </span>
</div>