<div class="sub-wrapper">
    <span class="sub-title">
        <mat-icon>{{iconeTipo?.link ?? iconePadrao}}</mat-icon>
        {{getNomeTipo()}}
    </span>
</div>
<div *ngIf="getNomeTipo() === 'Receitas'" class="content {{getNomeTipo(true)}}" [formGroup]="form">
    <span class="item saldo-anterior">
        <mat-icon>account_balance</mat-icon>
        Saldo Anterior
    </span>
    <span class="valores">
        <input type="text" name="saldo-anterior" formControlName="saldo-anterior" aria-label="Saldo Anterior" tabindex="-1">
        <button class="update" tabindex="-1"><mat-icon>sync</mat-icon></button>
    </span>
</div>
<app-categoria [form]="form" *ngFor="let categoria of categorias" [categoriaNome]="categoria.nome" [iconeCategoria]="categoria.icone" ></app-categoria> <!--TESTE-->
<div class="content create">
    <button alt="Criar" tabindex="-1"><mat-icon>add</mat-icon></button>
</div>
<div class="content {{getNomeTipo(true)}}" [formGroup]="form">
    <span class="item parcial">
        <mat-icon [attr.alt]="getNomeTipo()">payments</mat-icon>
        Total de {{getNomeTipo()}}
    </span>
    <span class="valores parcial">
        <input type="text" name="total-{{getNomeTipo(true)}}" formControlName="total-{{getNomeTipo(true)}}" tabindex="-1" readonly>
    </span>
</div>