<div class="sub-wrapper">
    <span class="sub-title">
        <mat-icon>trending_up</mat-icon>
        {{nomeGrupo}}
    </span>
</div>
<app-item></app-item>
<div class="content create">
    <button alt="Criar" tabindex="-1"><mat-icon>add</mat-icon></button>
</div>
<div class="content {{nomeGrupoClass}}">
    <span class="item parcial">
        <mat-icon [attr.alt]="nomeGrupo">payments</mat-icon>
        Total
    </span>
    <span class="valores parcial">
        <input type="text" name="total-{{nomeGrupoClass}}" tabindex="-1" readonly>
    </span>
</div>