@use '../../../../resources/scss/mixin' as *;

.sub-wrapper {
    background-color: #fff;
}

.sub-title {
    @include highlight();
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 800;
    padding: 7px;
}

.create {
    display: block;
    @include border(border-right);
    @include border(border-left);
    @include border-smooth(border-top);
    @include border-smooth(border-bottom);

    button {
        background-color: black;
        color: white;
        display: block;
        margin: 0 auto;
        padding: 2.5px;
        height: 25px;
        border-radius: 50%;
    }

    &:hover {
        cursor: pointer;

        button {
            background-color: #ffffff50;
        }
    }
}