@use '../../../variables' as *;

div {
    display: block;
    background-color: $darker;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-content: center;

    mat-spinner {
        margin: 0 auto;
    }
}