<div class="load" *ngIf="carregando">
    <mat-spinner></mat-spinner>
</div>
<form [formGroup]="formularioPrincipal">
    <app-tipo *ngFor="let tipo of tipos" 
        [form]="formularioPrincipal"
        [nomeTipo]="tipo.nome"
        [iconeTipo]="tipo.icone"
        [idTipo]="tipo.id"
        (alterou)="dataReceiver($event)"
        (alterou)="calculaSaldo()"
        (updateEvento)="enviaSaldoAnterior()"
        (transacoesOk)="calculaSaldo()"
    >
    </app-tipo>
    <div class="content saldo">
        <span class="item">
            <mat-icon>payments</mat-icon>
            Saldo
        </span>
        <span class="valores saldo">
            <input type="text" name="saldo" formControlName="saldo" tabindex="-1" readonly>
        </span>
    </div>
    <div class="content botoes">
        <button type="reset" id="apagar" (click)="limpaValores($event)">
            <mat-icon>undo</mat-icon>
            Apagar alterações
        </button>
        <button type="send" id="submit" (click)="enviaValores()" [disabled]="formularioPrincipal.invalid">
            <mat-icon>send</mat-icon>
            Enviar valores
        </button>
        <button id="close" [disabled]="!formularioPrincipal.valid">
            <mat-icon>free_cancellation</mat-icon>
            Fechar mês
        </button>
    </div>
</form>