@use '../../../../variables' as *;

#dados {
    position: relative;
}


.botoes {
    grid-template-columns: repeat(3, 1fr) !important;
    border-radius: 0 0 0 20px;
    @include border(border);
    border-top: solid 3px #fff;
    padding: 10px;

    button {
        @include highlight();
        border-radius: 5px;
        margin: 0 auto;
        text-align: center;
        color: white;

        &:hover {
            @include inner-shadow();
        }

        &[disabled] {
            background-image: linear-gradient(to left, $dark, $grey3);
        }
    }
}

:host ::ng-deep {
    .content {
        background-color: #000;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        .item {
            @include border_smooth(border-right);
        }
    }
}
