<form [formGroup]="formularioPrincipal" (ngSubmit)="testSubmit()">
    <app-grupo-transacoes [form]="formularioPrincipal" *ngFor="let grupo of grupos | async" [nomeGrupo]="grupo.nome"></app-grupo-transacoes>
    <app-item [itemNome]="'Investimentos'" [form]="formularioPrincipal"></app-item>
    <div class="content saldo">
        <span class="item">
            <mat-icon>payments</mat-icon>
            Saldo
        </span>
        <span class="valores saldo">
            <input type="text" name="saldo" formControlName="saldo" tabindex="-1" readonly>
        </span>
    </div>
    <div class="content botoes">
        <button type="reset" id="apagar">
            <mat-icon>undo</mat-icon>
            Apagar alterações
        </button>
        <button type="send" id="submit">
            <mat-icon>send</mat-icon>
            Enviar valores
        </button>
        <button id="close">
            <mat-icon>free_cancellation</mat-icon>
            Fechar mês
        </button>
    </div>
</form>